p {
  color: #FFFFFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h2 {
  color: #FFFFFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1 {
  color: #FFFFFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h3 {
  color: #FFFFFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

a {
  color: #FFFFFF;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

H1 {display: inline;}
